<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ubugs.job.mapper.InfoMapper">
  <resultMap id="BaseResultMap" type="cn.ubugs.job.domain.Info">
    <!--@mbg.generated-->
    <!--@Table info-->
    <id column="id" jdbcType="INTEGER" property="id"/>
    <result column="u_id" jdbcType="INTEGER" property="uId"/>
    <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
    <result column="sign" jdbcType="VARCHAR" property="sign"/>
    <result column="phone" jdbcType="VARCHAR" property="phone"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="deleted" jdbcType="BOOLEAN" property="deleted"/>
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, u_id, nickname, sign, phone, create_time, update_time, deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select
    <include refid="Base_Column_List"/>
    from info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="cn.ubugs.job.domain.Info" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into info (u_id, nickname, sign,
    phone, create_time, update_time,
    deleted)
    values (#{uId,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
    #{deleted,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="cn.ubugs.job.domain.Info"
          useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        u_id,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uId != null">
        #{uId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ubugs.job.domain.Info">
    <!--@mbg.generated-->
    update info
    <set>
      <if test="uId != null">
        u_id = #{uId,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ubugs.job.domain.Info">
    <!--@mbg.generated-->
    update info
    set u_id = #{uId,jdbcType=INTEGER},
    nickname = #{nickname,jdbcType=VARCHAR},
    sign = #{sign,jdbcType=VARCHAR},
    phone = #{phone,jdbcType=VARCHAR},
    create_time = #{createTime,jdbcType=TIMESTAMP},
    update_time = #{updateTime,jdbcType=TIMESTAMP},
    deleted = #{deleted,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <sql id="Join_Column_List">
    <!--@mbg.generated-->
    info.id as info_id,
    info.u_id as info_u_id,
    info.nickname as info_nickname,
    info.sign as info_sign,
    info.phone as info_phone,
    info.create_time as info_create_time,
    info.update_time as info_update_time,
    info.deleted as info_deleted
  </sql>
  <resultMap id="JoinResultMap" type="cn.ubugs.job.domain.Info">
      <!--@mbg.generated-->
      <id column="info_id" property="id"/>
      <result column="info_u_id" property="uId"/>
      <result column="info_nickname" property="nickname"/>
      <result column="info_sign" property="sign"/>
      <result column="info_phone" property="phone"/>
      <result column="info_create_time" property="createTime"/>
      <result column="info_update_time" property="updateTime"/>
      <result column="info_deleted" property="deleted"/>
  </resultMap>

    <!--auto generated by MybatisCodeHelper on 2021-12-13-->
    <select id="findOneByUId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from info
        where u_id=#{uId,jdbcType=INTEGER}
    </select>
</mapper>